<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 清除快取 -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>問答聊天機器人</title>    
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/QAchat_style.css')}}?v=1.6.0"/></link>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/speech_input.css') }}"/></link>
    <link href="{{ url_for('static', filename='image/icon.png') }}" rel="shortcut icon">
    
</head>
<body>
    <!-- 對話顯示 -->
    <div class="talk_content" id="talk_content_id" style="position:absolute;">	 
      <img id="menu_id" class="menu" src="{{url_for('static', filename='image/menu.png')}}" onclick="openChatbotFile()">
        <div class="info_content" id="info_content_id">  
          <div class="botsay" id="botsay">               
            <div class="dialog-bottom" >哈囉！<br>我是魚姊姊，請先告訴我你的班級唷！</div>
          </div>
          <div class="head" id="mainBot" onclick=""><img id="fish" src="{{url_for('static', filename='image/fishgirl.png')}}"></img></div>
          
          <!-- 機器人小檔案(點擊後才會出現) -->
          <div class="chatbotFile" id="chatbotFile_id">
            <input type="image" class="closebtn"  src="{{url_for('static', filename='image/close.png')}}" onclick="cloceChatbotFile()">
            <input type="image" class="homeBtn" id="homeBtn_id" src="{{url_for('static', filename='image/home.png')}}" onclick="backToMainMenu()">
            <div class="chatbotFile_head">
              <input type="button" class="trainRecordBtn" id="trainRecordBtn_id" value="訓練日誌" onclick="openTrainRecord()">
              <input type="button" class="trainLeaderboardBtn" id="trainLeaderboardBtn_id" value="訓練題數排行榜" onclick="openTrainLeaderboard()">
              <br>
              <input type="button" class="testRecordBtn" id="testRecordBtn_id" value="挑戰日誌" onclick="openTestRecord()">
              <input type="button" class="testLeaderboardBtn" id="testLeaderboardBtn_id" value="競技場排行榜" onclick="openTestLeaderboard()">
            </div>
            <div class="chatbotFile_botInfo" id="chatbotFile_botInfo_id"></div>
            <!-- 以下可以切換不同頁面 -->
            <div class="chatbotFile_content" id="chatbotFile_content_id">
              <div class="trainRecord_content" id="trainRecord_content_id"></div>
              <div class="trainLeaderboard_content" id="trainLeaderboard_content_id"></div>
              <div class="testRecord_content" id="testRecord_content_id"></div>
              <div class="testLeaderboard_content" id="testLeaderboard_content_id"></div>
            </div>
          </div>
          <!--  -->
          
          <div class = "usersay" id="usersay" >               
            <div class="user local" > 
             
            </div>
          </div>
          
          <!-- <div id="score" >x 8</div>
          <img id="star" src="{{url_for('static', filename='image/star.png')}}"></img> -->
        </div>
        <div class="talk_input"  id="talk_input_id">  
          <div class="talk_suggest" id="talk_suggest_id"></div>
          <div class="talk_taskHint" id="talk_taskHint_id"></div>
          <input type="text" class="talk_word speech_input " lang="zh-CN"  id="talkwords" onkeypress="user_inputPress()" autocomplete="off" disabled="disabled">
          <input type="button" value="傳送" class="talk_sendBtn" id="talksend" onclick="user_sendMsg(Object)" disabled="disabled">
        </div>
        <div class="talk_show" id="words" >
            
          <!-- chatbot對話 -->
          <div class="user remote">
            <!-- 機器人頭像 -->
            <!-- <div class="avatar">
              <div class="pic">
                 <img src="{{url_for('static', filename='image/fish.jpg')}}" ></img>
              </div>
              <div class="name">鹹魚姊姊</div>
            </div> 
              <div class="text">哈囉！請先告訴我你的班級唷！</div>-->
          </div>

         

          <!-- user對話 -->
          <!-- <div class="user local">
           
            <div class="avatar">
              <div class="pic">
                <img src="https://picsum.photos/100/100?random=16" ></img>
              </div>
              <div class="name">座號13</div>
            </div>


            <div class="text">你好</div>
          </div> -->
  
       
       <!--</ul> 對話輸入 -->     
        </div>
        

    </div>
    <!-- 引導機器人(魚姐姐) -->
    <div class="guide" id="guide_id">
      <div class="mode_background" id="mode_background"></div>
      <div class="book-cover" id="book-cover_id"></div>
      <div class="guide-context">
        不知道要問什麼嗎？來找魚姊姊吧！<br><br>點擊下面這七種類型的按鈕，看看可以怎麼問喔。<br><br>
        <!-- FairyTaleQA 七個類型：人物(Character) 時間地點(Setting) 行為(Action) 人物感受(Feeling)
        事情原因 (Causal relations) 事情結果(Outcome resolution) 故事延伸(Prediction) -->
        <button class="Character_btn" onclick="display_guide(this)" value='Character'>人物</button><br>
        <div class="Example_7type Character" id="Character">
          <ul>
            <li>Sophie是個什麼樣的人？</li>
            <li>小驢子是懶惰不工作的嗎？</li>
          </ul>
        </div>

        <button class="Setting_btn" onclick="display_guide(this)" value='Setting'>時間地點</button><br>
        <div class="Example_7type Setting" id="Setting">
          <ul>
            <li>Ralph什麼時候會還東西？</li>
            <li>Mandy和Sophie去哪裡玩盪鞦韆？</li>
          </ul>
        </div>

        <button class="Action_btn" onclick="display_guide(this)" value='Action'>行為</button><br>
        <div class="Example_7type Action" id="Action">
          <ul>
            <li>Salt對Sugar做了什麼事？</li>
            <li>刺蝟在生日派對上收到哪些禮物？</li>
          </ul>
        </div>

        <button class="Feeling_btn" onclick="display_guide(this)" value='Feeling'>人物感受</button>
        <div class="Example_7type Feeling" id="Feeling">
          <ul>
            <li>刺蝟喜歡猴子送給他的T恤嗎？</li>
            <li>大家對Ralph借東西不還的行為感到如何？</li>
          </ul>
        </div>

        <button class="Causal_relations_btn" onclick="display_guide(this)" value='Causal_relations'>事情原因</button>
        <div class="Example_7type Causal_relations" id="Causal_relations">
          <ul>
            <li>為什麼刺蝟沒穿小猴子送的衣服？</li>
            <li>為什麼小驢子會被國王選中？</li>
          </ul>
        </div>

        <button class="Outcome_resolution_btn" onclick="display_guide(this)" value='Outcome_resolution'>事情結果</button>
        <div class="Example_7type Outcome_resolution" id="Outcome_resolution">
          <ul>
            <li>當老Adam把Salt放進滾燙的熱水後，發生了什麼事？</li>
            <li>Mandy將蛋糕送給Sophie後，他們和好了嗎？</li>
          </ul>
        </div>
        
        <button class="Prediction_btn" onclick="display_guide(this)" value='Prediction'>故事延伸</button>
        <div class="Example_7type Prediction" id="Prediction">
          <ul>
            <li>什麼禮物才是好禮物？</li>
            <li>如果小驢子沒有被國王帶走，農夫會讓小驢子工作嗎？</li>
          </ul>
        </div>
        <div class="guide_robot" id="guide_robot_id"><img id="fish" src="{{url_for('static', filename='image/fishgirl.png')}}" ></img>魚姊姊</div>
      </div>
    </div>

    <!-- 書本頁面瀏覽 -->
    <div class="book" id="book_id">
      
    </div>

  </body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/QA_scripts.js') }}?v=1.2.0" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/speech_input.js')}}" type="text/javascript"></script>